@import "../../global.scss";

.portfolio {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;
    height: 78px;
    margin-top: 45px;
    color: white;

    @include mobile {
      font-size: 30px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    display: flex;
    list-style: none;

    @include mobile {
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      font-size: 15px;
      margin-right: 50px;
      height: 20px;
      width: 80px;
      padding: 7px;
      border-radius: 10px;
      cursor: pointer;
      overflow: hidden;

      &.active {
        background-color: $mainColor;
        color: white;
      }
    }
  }

  .container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 380px;

    @include mobile {
      width: 100%;
    }

    .item {
      width: 230px;
      height: 235px;
      border-radius: 20px;
      border: 1px solid rgb(240, 239, 239);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;
      overflow: hidden;

      @include mobile {
        width: 150px;
        height: 120px;
      }

      h3 {
        position: absolute;
        font-size: 20px;
        margin-top: -94px;
        margin-left: 36px;
        @include mobile {
          font-size: 15px;
          margin-top: -60px;
          margin-left: 10px;
        }
      }

      a {
        position: absolute;
        z-index: 0;

        img {
          width: 100%;
          height: 80%;
          object-fit: cover;
          z-index: 1;
        }
      }
      .code__link {
        display: flex;
        margin-top: 162px;
        margin-right: 24px;
        a {
          display: flex;
          .github {
            font-size: 35px;
            color: #551a8b;
            cursor: pointer;
          }
        }
      }
      &:hover {
        background-color: #0a070f;

        img {
          opacity: 0.2;
          z-index: 0;
        }
        .github {
          color: white;
        }
      }
    }
  }
}
