@import "../../global.scss";

.contact {
  height: 100vh;
  position: relative;
  background: #00021e;

  .contact-wrapper {
    padding: 50px;
    display: flex;
    @include mobile {
      flex-direction: column;
      padding: 0px 50px;
      margin-bottom: 30px;
    }

    .contact-left {
      flex: 1;

      .contact-title {
        font-size: 60px;
        width: 80%;
        color: white;

        @include mobile {
          font-size: 30px;
          width: 100%;
          margin-top: 10px;
          margin-left: 10px;
        }
      }
      .contact-info {
        @include mobile {
          width: 110%;
          margin: 20px 0px;
        }
        .contact-info-item {
          display: flex;
          align-items: center;
          font-weight: 300;
          width: 70%;
          color: white;

          @include mobile {
            width: 110%;
            margin: 20px -13px;
          }

          .contact_icon {
            width: 30px;
            height: 30px;
            margin: 20px;
            color: white;
          }
        }
        .contact-sites {
          display: flex;
          margin-top: 71px;
          margin-left: 22px;
          align-items: flex-start;
          flex-direction: column;
          @include mobile {
            flex-direction: row;
            justify-content: center;
            margin-top: 0;
            margin-left: -10px;
          }

          .contact-sites_icon {
            color: white;
            font-size: 30px;
          }
        }
      }
    }
    .contact-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .contact-heading {
        font-size: 20px;
        font-weight: 300;
        color: white;
        @include mobile {
          font-size: 16px;
        }

        form {
          margin-top: 20px;

          input {
            width: 80%;
            height: 50px;
            border: none;
            border-radius: 10px;
            border-bottom: 1px solid black;
            margin: 10px 0px;
            font-size: 14px;
            padding-left: 10px;

            @include mobile {
              height: 40px;
            }
          }
          textarea {
            width: 80%;
            margin: 10px 0px;
            font-size: 14px;
            padding-left: 10px;
            border-radius: 10px;
            padding: 14px 5px;
          }

          button {
            border: none;
            padding: 12px;
            margin: 2px 1px;
            width: 150px;
            border-radius: 1.25rem;
            background-color: #dc143c;
            color: white;
            font-size: 21px;
            font-weight: 500;
            cursor: pointer;
          }
          p {
            font-size: 100;
            color: red;
            margin-top: 20px;
            margin-left: 20px;
          }

          @include mobile {
            margin-top: 0;
            display: flex;
            flex-wrap: wrap;
            margin-right: -40px;
            margin-left: 10px;
            overflow: hidden;
          }
        }
      }
    }
  }
}
